@use '../../../assets/color' as variable;
@use 'sass:color';

.cell {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid variable.$color-border;
  vertical-align: middle;
  text-align: center;

  // Style for header cells
  :global(th).cell {
    font-weight: 600;
    color: variable.$color-text-secondary;
    background-color: color.adjust(variable.$color-background-light, $lightness: -2%);
  }

}

