// $form-bg: #fff;
// $primary: #2563eb;
// $error: #dc2626;

// .form {
//   background: $form-bg;
//   padding: 2rem;
//   border-radius: 1rem;
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//   width: 100%;          // occupe 90% sur petit écran
//   max-width: 450px;    // largeur maximale sur grand écran
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;
// }

// .title {
//   font-size: 1.2rem;
//   font-weight: 600;
//   text-align: center;
//   color: $primary;
//   margin: 0;
// }

// .message {
//   margin-bottom: 1rem;
//   font-weight: 500;
//   text-align: center;
// }

@use '../../../assets/color' as color;

.form {
  background: linear-gradient(180deg, white 0%, rgba(color.$color-primary, 0.1) 100%);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: color.$gap;

  .multiFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
  }
}

.title {
  font-size: color.$font-size-title;
  font-weight: 600;
  text-align: center;
  color: color.$color-secondary; // Utilisation de la couleur secondaire pour le titre
  margin-bottom: color.$margin-bottom-title;
  padding-bottom: color.$padding-bottom-title;
  border-bottom: 1px solid color.$color-border;
}

.message {
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
}

.loginPrompt {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: color.$color-text-secondary;
}

.loginLink {
  color: color.$color-primary; // Utilisez votre variable de couleur primaire
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}