// .container {
//     position: relative;
//     width: 100%;
//     padding: 10px;
//     display: flex;
//     align-items: flex-start; // Aligne les éléments en haut
//     justify-content: center;
//     gap: 0.5rem
// }

.pageContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}