@use '../../assets/variables' as styles;

.pageContainer {
    width: 100%;
    padding: styles.$spacing-md; // 1rem équivaut à 16px par défaut, ajusté de 10px
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: styles.$spacing-xs; // 0.5rem
}
