@use '../../assets/variables' as styles;

.container {
    padding: styles.$spacing-md;
    width: 100%;
}

.loading {
    padding: styles.$spacing-xl;
    text-align: center;
    font-size: styles.$font-size-lg;
    color: styles.$color-text-secondary;
}
