.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; // Ajoute un peu de padding pour éviter que la modale ne touche les bords sur mobile

}

.modal {
  background: white;
  border-radius: 8px;
  padding: 2rem; // Padding interne de la modale
  outline: none;
  max-width: 500px; // Ajustez selon vos besoins
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 90vh; // Limite la hauteur pour le contenu défilant
  overflow-y: auto; // Active le défilement si le contenu dépasse

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: #333;
    }

    .closeButton {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #777;
      transition: color 0.2s ease;

      &:hover {
        color: #333;
      }
    }
  }

  .content {
    flex-grow: 1;

    // S'assurer que le formulaire lui-même n'a pas de marges supplémentaires
    .form {
      margin: 0; // Annule la marge par défaut du formulaire
      box-shadow: none; // Supprime l'ombre du formulaire si la modale en a déjà une
      border: none; // Supprime la bordure du formulaire
      background: none; // Supprime le fond du formulaire
      padding: 0; // Supprime le padding du formulaire
    }
  }

  // Styles responsifs pour la modale elle-même
  @media screen and (max-width: 750px) {
    padding: 1.5rem;
  }
}