@use '../../assets/variables' as styles;

.container {
    display: flex;
    justify-content: center; // centre horizontalement
    align-items: center;     // centre verticalement
    padding: styles.$spacing-md;
    // height: 100vh;
}
