// src/components/organisms/MaisonForm/maisonInMap.module.scss
@use '../../../assets/variables' as styles; // Importation de toutes vos variables globales

.container {
    width: 100%;
    height: 650px; // Hauteur spécifique pour le composant Map

    @media screen and (max-width: styles.$breakpoint-lg) {
        max-height: 1200px; // Hauteur maximale spécifique pour le composant Map sur mobile
    }
}

/* Styles mobiles pour le composant Map */
@media screen and (max-width: styles.$breakpoint-lg) {
    .container {
        padding: styles.$spacing-xxs;
    }

    // Ciblage des contrôles Leaflet pour ajustement mobile
    :global(.leaflet-top.leaflet-left) {
        top: auto !important;
        bottom: 2.5rem !important; // Valeur spécifique pour le positionnement des contrôles
        left: auto !important;
        right: 0.625rem !important; // Valeur spécifique pour le positionnement des contrôles
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    :global(.leaflet-control-zoom) {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // Ombre spécifique
        border-radius: styles.$border-radius-md;
        overflow: hidden;
    }
}
