@use '../../../assets/variables' as styles;

.tableContainer {
  overflow-x: auto; // Pour la responsivité sur petits écrans
  background: linear-gradient(-90deg, white 0%, rgba(styles.$color-primary, 0.1) 100%);
  border-radius: styles.$border-radius-md;
  box-shadow: styles.$shadow-sm; // Ombre légère pour le conteneur
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: styles.$font-size-base;
  color: styles.$color-text-primary;
  // Assure une largeur minimale pour le tableau afin d'activer le défilement horizontal sur les petits écrans
  min-width: 600px; // Ajustez cette valeur selon le nombre de colonnes et leur contenu
}

.noData {
  text-align: center;
  padding: styles.$spacing-xl;
  color: styles.$color-text-secondary;
  font-style: italic;
}

.groupRow {
  td {
    background-color: styles.$color-background-light; // Fond clair standardisé
    font-weight: styles.$font-weight-bold;
    padding: styles.$spacing-sm styles.$spacing-md;
    border-bottom: styles.$border-width-md solid styles.$color-primary;
    color: styles.$color-text-primary;
    font-size: styles.$font-size-lg; // Taille de police légèrement plus grande
  }
}
