@use '../../../assets/color' as color;

.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    color: #8c8c8c;
}

.icon {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
}

.text {
    font-size: 0.8rem;
    font-weight: 500;
}

.spinner {
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, color.$color-primary, transparent);
    animation: move 1.5s infinite;
}

@keyframes move {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

