@use '../../assets/variables' as styles;

.page {
    padding: styles.$spacing-xl;
    min-height: 100vh;
}

.header h1 { 
    margin: 0; 
    color: styles.$color-text-primary; 
}
  
.main {
    max-width: styles.$max-width-container;
    margin: 0 auto;
}
