@use '../../assets/variables' as styles;
@use 'sass:color';

.tablePageMaisonsContainer {
  padding: styles.$spacing-md;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: styles.$border-width-sm solid styles.$color-border;
  margin-bottom: styles.$spacing-lg;
  padding-bottom: styles.$spacing-md;
}

.pageTitle {
  font-size: styles.$font-size-h2;
  color: styles.$color-secondary;
  margin: 0;
}

.addButton {
  background-color: styles.$color-primary;
  color: styles.$color-text-light;
  border: none;
  padding: styles.$spacing-xs styles.$spacing-md;
  border-radius: styles.$border-radius-sm;
  cursor: pointer;
  font-weight: styles.$font-weight-medium;
  font-size: styles.$font-size-base;
  transition: background-color styles.$transition-speed-fast styles.$transition-easing;

  &:hover {
    background-color: color.adjust(styles.$color-primary, $lightness: 8%);
  }
}

.statusBadge {
  display: inline-block;
  padding: styles.$spacing-xxs styles.$spacing-sm;
  border-radius: styles.$border-radius-full; // Pour un effet "pilule"
  color: #fff;
  font-size: styles.$font-size-xs;
  font-weight: styles.$font-weight-semibold;
  text-align: center;
  white-space: nowrap;

  // Modificateur pour l'état visible
  &.visible {
    background-color: styles.$color-success;
  }

  // Modificateur pour l'état non visible
  &.notVisible {
    background-color: styles.$color-error;
  }
}
