.select {
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
    font-size: max(1vw, 12px);
    background-color: white;
    text-align: center;
  
    &:focus {
      border-color: #2563eb;
    }
  }

/* 
 * Si vous enlevez l'apparence par défaut (appearance: none), vous perdez la flèche.
 * On en recrée une personnalisée ici.
 */
.select::after {
  content: '▼';
  font-size: 12px;
  color: #333;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Pour que le clic "traverse" la flèche et ouvre le select */
}

  