@use '../../../assets/color' as variable;
@use 'sass:color';

.button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: variable.$font-size;
  font-weight: 600;
  text-align: center;
  text-decoration: none; // Pour les cas où le bouton est un lien
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box; // Bonne pratique à conserver

  // Style par défaut (bouton primaire)
  background-color: variable.$color-primary;
  color: variable.$color-text-light;

  &:hover {
    background-color: color.adjust(variable.$color-primary, $lightness: 10%);
  }

  // Style pour un bouton secondaire
  &.secondary {
    background-color: variable.$color-text-secondary;
    color: variable.$color-text-light;

    &:hover {
      background-color: color.adjust(variable.$color-text-secondary, $lightness: 10%);
    }
  }

  // Style pour un bouton d'accentuation
  &.accent {
    background-color: variable.$color-accent;
    color: variable.$color-text-light;

    &:hover {
      background-color: color.adjust(variable.$color-accent, $lightness: 10%);
    }
  }

  // Style pour un bouton avec une bordure
  &.outline {
    background-color: transparent;
    color: variable.$color-primary;
    border: 2px solid variable.$color-primary;

    &:hover {
      background-color: variable.$color-primary;
      color: variable.$color-text-light;
    }
  }

  // Style pour un bouton désactivé
  &:disabled,
  &.disabled {
    background-color: variable.$color-disabled;
    color: variable.$color-text-disabled;
    cursor: not-allowed;
    opacity: 0.7;
  }

  // Version mobile pour les écrans jusqu'à 768px de large
  @media (max-width: 900px) {
    // On réduit la taille du bouton au lieu de le mettre en pleine largeur
    padding: 0.6rem 1.2rem; // Padding réduit pour un bouton plus compact
    font-size: 0.9rem; // Police légèrement plus petite
  }
}
