@use '../../assets/variables' as styles;

.container {
    display: flex;
    justify-content: center; // centre horizontalement
    align-items: center;     // centre verticalement
    height: 100vh;
    padding: styles.$spacing-md;
}
