
@use '../../../assets/color' as color;

.toggleButton {
  position: absolute;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; // Rend l'icône un peu plus grande et facile à cliquer
  color: color.$color-text-secondary; // Couleur grise discrète par défaut
  transition: color 0.2s ease;

  &:hover {
    color: color.$color-primary; // Change en couleur primaire au survol
  }
}


  