@use '../../../assets/color' as variable;

.container {
    height: 600px;
    width: 100%;
    position: relative; // Nécessaire pour le positionnement absolu des enfants
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.loading {
    font-size: 1.2rem;
    color: variable.$color-text-secondary;
}

.mapContainer {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Styles pour mobile */
@media screen and (max-width: 900px) {
    .container {
        height: auto; // Hauteur réduite sur mobile
    }

    :global(.leaflet-top.leaflet-left) {
        top: auto !important;
        bottom: 10px !important;
        left: 10px !important;
    }

    :global(.leaflet-control-zoom) {
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
}
