// src/components/organisms/TableHeader/TableHeader.module.scss

@use '../../../assets/variables' as v;
@use 'sass:color';

.headerRow {
    display: contents; // Makes children direct grid items of the parent grid.
}

.headerCell {
    font-weight: v.$font-weight-semibold;
    color: v.$color-text-secondary;
    background-color: color.adjust(v.$color-background-light, $lightness: -2%);
    position: sticky; // Makes the header sticky when scrolling
    top: 0;
    // Styles de base hérités/copiés de TableCell pour la cohérence
    padding: v.$spacing-sm v.$spacing-md;
    // text-align: center;
    vertical-align: middle;
    display: flex;
    // align-items: center;
    // justify-content: center;
    border-bottom: v.$border-width-md solid v.$color-primary; // Stronger border for header
}
