@use '../../../assets/color' as variable;
@use 'sass:color';

.headerRow {
    display: contents; // Makes children direct grid items of the parent grid.
}

.headerCell {
    font-weight: 600;
    color: variable.$color-text-secondary;
    background-color: color.adjust(variable.$color-background-light, $lightness: -2%);
    position: sticky; // Makes the header sticky when scrolling
    top: 0;
    // Styles de base hérités/copiés de TableCell pour la cohérence
    padding: 0.75rem 1rem;
    // text-align: center;
    vertical-align: middle;
    display: flex;
    // align-items: center;
    // justify-content: center;
    border-bottom: 2px solid variable.$color-primary; // Stronger border for header

}

