// src/assets/_borders.scss

// Épaisseurs de bordure
$border-width-sm: 1px;
$border-width-md: 2px;
$border-width-lg: 4px;

// Rayons des coins
$border-radius-sm: 0.25rem; // 4px
$border-radius-md: 0.5rem;  // 8px
$border-radius-lg: 1rem;    // 16px
$border-radius-full: 9999px; // Pour les cercles ou pilules

