// src/assets/_breakpoints.scss

$breakpoint-sm: 576px;  // Pour les petits appareils (téléphones en mode paysage)
$breakpoint-md: 768px;  // Pour les tablettes
$breakpoint-lg: 992px;  // Pour les petits ordinateurs de bureau
$breakpoint-xl: 1200px; // Pour les grands ordinateurs de bureau

