@use '../../../assets/color' as color;

.container {
    height: 600px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
    color: color.$color-text-secondary;
    padding: 2rem;
}

.mapContainer {
    height: 100%;
    width: 100%;
}
