// src/components/organisms/MaisonListMap/MaisonListMap.module.scss
@use '../../../assets/variables' as styles;

.container {
    height: 600px;
    width: 100%;
    margin-bottom: styles.$spacing-xl;
    border-radius: styles.$border-radius-md;
    overflow: hidden;
    box-shadow: styles.$shadow-md;
    text-align: center;
    color: styles.$color-text-secondary;
    padding: styles.$spacing-xl;
}

.mapContainer {
    height: 100%;
    width: 100%;
}
