@use '../../../assets/color' as color; // Importation de vos variables globales

.twoColumn {
    display: flex;
    align-items: flex-start; // Aligne les éléments en haut
    justify-content: center;
    gap: 1rem; // Espace entre le formulaire et la carte
    width: 100%;
    padding: 1rem; // Padding pour toute la section
}

.form {
    background: linear-gradient(180deg, white 0%, rgba(color.$color-primary, 0.1) 100%);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; // Largeur maximale du formulaire
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    @media screen and (max-width: 900px) {
        max-width: 900px;
    }

    .title {
        text-align: center;
        color: color.$color-secondary; // Utilisation de la couleur secondaire pour le titre
        font-size: color.$font-size-title;
        margin-bottom: color.$margin-bottom-title;
        padding-bottom: color.$padding-bottom-title;
        border-bottom: 1px solid color.$color-border;
    }

    .multiFields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        align-items: center;
    }

    .message {
        margin-top: 1rem;
        text-align: center;
        font-weight: 500;
    }
}

.mapWrapper { // Ce style s'applique au div externe du composant Map
    width: 100%;
    position: relative; // Pour le positionnement des contrôles de la carte
    background-color: color.$color-background-light;
}

.map { // Ce style s'applique au MapContainer interne de react-leaflet
    width: 100%;
    height: 600px; // Hauteur par défaut pour desktop
}

@media screen and (max-width: 900px) {

    // Point de rupture pour passer en une seule colonne
    .twoColumn {
        flex-direction: column-reverse;
        align-items: center; // Centre les éléments lorsqu'ils sont empilés
        gap: 1rem; // Ajuste l'espacement pour mobile

        .form {
            padding: 1.5rem 1rem;
            gap: 0.75rem;

            .multiFields {
                column-gap: 0.75rem;
            }

            .message {
                margin-top: 0.75rem;
            }
        }

        .map {
            border-radius: 0.5rem; // ✅ 8px → 0.5rem
            height: 250px; // Hauteur ajustée pour la carte sur mobile
            border-radius: 0.5rem;
        }
        .mapWrapper {
            padding: 0.25rem; // Réduit le padding pour le conteneur de la carte sur mobile
        }
    }
}