// src/components/organisms/MaisonForm/MaisonForm.module.scss
@use '../../../assets/variables' as styles; // Importation de toutes vos variables globales

.twoColumn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: styles.$spacing-md;
    width: 100%;
    padding: styles.$spacing-md;
}

.form {
    background: linear-gradient(180deg, white 0%, rgba(styles.$color-primary, 0.1) 100%);
    padding: styles.$spacing-xl;
    border-radius: styles.$border-radius-lg;
    box-shadow: styles.$shadow-md;
    width: 100%;
    max-width: 500px; // Largeur maximale du formulaire
    display: flex;
    flex-direction: column;
    gap: styles.$spacing-xs;

    @media screen and (max-width: styles.$breakpoint-lg) {
        max-width: 100%;
    }

    .title {
        text-align: center;
        color: styles.$color-secondary;
        font-size: styles.$font-size-h2;
        margin-bottom: styles.$spacing-lg;
        padding-bottom: styles.$spacing-md;
        border-bottom: styles.$border-width-sm solid styles.$color-border;

        @media screen and (max-width: styles.$breakpoint-lg) {
            font-size: styles.$font-size-xl; // Taille de police plus raisonnable pour mobile
        }
    }

    .multiFields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: styles.$spacing-md;
        align-items: center;
    }

    .message {
        margin-top: styles.$spacing-md;
        text-align: center;
        font-weight: styles.$font-weight-medium;
    }
}

.mapWrapper {
    width: 100%;
    position: relative;
    background-color: styles.$color-background-light;
    border-radius: styles.$border-radius-md;
    overflow: hidden; // Pour que le border-radius s'applique à la carte
}

.map {
    width: 100%;
    height: 576px;
}

@media screen and (max-width: styles.$breakpoint-lg) {
    .twoColumn {
        flex-direction: column-reverse;
        align-items: center;
        gap: styles.$spacing-lg;

        .form {
            padding: styles.$spacing-lg styles.$spacing-md;
            gap: styles.$spacing-sm;

            .multiFields {
                column-gap: styles.$spacing-sm;
            }

            .message {
                margin-top: styles.$spacing-sm;
            }
        }

        .map {
            height: 300px; // Hauteur ajustée pour la carte sur mobile
        }
        
        .mapWrapper {
            width: 100%;
            padding: styles.$spacing-xxs;
        }
    }
}
